body {
    font-family: "Inter", sans-serif;
    background: #202a34;
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
h1 {
    font-family: "Playwrite GB S", cursive;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
}
.top-div{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap-reverse;
}

/* .container h1{
    width: 100%;
} */
.result-box {
    flex: 1;
    min-width: 300px;
    width: 45%;
    min-height: 30%;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
    text-align: start;
}
.result-box >* {
    font-size: 22px;
}
.result-box h2{
    color: #22c55e;
    font-size: 28px;
}
.highlight {
    color: #22c55e;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px rgba(255, 215, 0, 0.6);
}
a {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background: #22c55e;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s ease;
    font-size: 1.2em;
    /* width: 100%; */
}
a:hover {
    background: #409660;
    transform: scale(1.05);
}