<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crop Prediction</title>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Arimo&family=Hind:wght@300&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Elsie+Swash+Caps:wght@400;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Playwrite+IS:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="login">
    <h1>Predict Crop Analysis</h1>
    <div class="form-div" >

        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict') }}" method="post">
        <div class="input-group">
            <label for="nitrogen">Nitrogen:</label>
            <input type="number" min="2" value="12" max="98" name="nitrogen" id="nitrogen" placeholder="Value for Nitrogen" required="required" />
          </div>
          
          <div class="input-group">
            <label for="phosphorus">Phosphorus:</label>
            <input type="number" min="3" value="22" max="98" name="phosphorus" id="phosphorus" placeholder="Value for Phosphorus" required="required" />
          </div>
          
          <div class="input-group">
            <label for="pottasium">Potassium:</label>
            <input type="number" min="3" value="22" max="98" name="pottasium" id="pottasium" placeholder="Value for Potassium" required="required" />
          </div>
          
          <div class="input-group">
            <label for="temperature">Temperature:</label>
            <input type="number" min="10" value="22" max="40" name="temperature" id="temperature" placeholder="Value for Temperature" required="required" />
          </div>
          
          <div class="input-group">
            <label for="humidity">Humidity:</label>
            <input type="number" min="1" value="22" max="100" name="humidity" id="humidity" placeholder="Value for Humidity" required="required" />
          </div>
          
          <div class="input-group">
            <label for="ph">PH:</label>
            <input type="number" min="1" value="5" max="12" name="ph" id="ph" placeholder="Value for PH" required="required" />
          </div>
          
          <div class="input-group">
            <label for="rainfall">Rainfall:</label>
            <input type="number" value="22" name="rainfall" id="rainfall" placeholder="Value for Rainfall" required="required" />
          </div>
          
          <div class="input-group">
            <label for="water_level">Water Level:</label>
            <input type="number" value="22" name="water_level" id="water_level" placeholder="Value for Water Level" required="required" />
          </div>
          
      
      <!-- Language Selection Dropdown -->
      <select name="language" required>
          <option value="english">English</option>
          <option value="hindi">Hindi</option>
          <option value="tamil">Tamil</option>
          <option value="telugu">Telugu</option>
          <option value="kannada">Kannada</option>
          <option value="malayalam">Malayalam</option>
          <option value="bengali">Bengali</option>
          <option value="gujarati">Gujarati</option>
          <option value="marathi">Marathi</option>
        <option value="punjabi">Punjabi</option>
        <option value="urdu">Urdu</option>
    </select>
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
</div>
</div>
</body>
</html>